body {
	background-color: #222;
	color: #fff;
}

.main {
	max-width: 800px;
	margin: auto;
}

.main-header {
	text-align: center;
	font-size: 36px;
	margin-top: 50px;
}

.second-header {
	text-align: center;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.my-resume {
	display: flex;
	justify-content: center;
	padding-bottom: 10%;
	text-decoration: none;
	color: #fff;
}

.container {
	display: flex;
	justify-content: space-evenly;
	width: 50%;
	margin: auto;
	margin-top: 20px;
}

.container div {
	width: 25%;
}

.container img {
	max-width: 100%;
	height: auto;
}

.Pic {
	height: 400px;
	width: 400px;
	/*border-radius: 50%;*/
	object-fit: cover;
	flex-shrink: 0; /* Prevent the image from shrinking */
	object-position: center top; /* Adjust this value to move the focal point */
}

.about-me {
	display: flex;
	flex-direction: row;
	align-items: center; /* Center vertically */
	justify-content: center;
	gap: 15px;
	margin-bottom: 50px;
}

.about-me-info {
	display: flex;
	flex-direction: column;
}

.about-me-info h4 {
	margin: 0;
	margin-bottom: 10px;
}

.about-me-info p {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: normal; /* Or use 'bold' for emphasis */
	letter-spacing: 1.5px;
	margin: 0;
	margin-bottom: 30px;
}

.about-me-info a {
	color: #fff;
}

.projects-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.project {
	margin-bottom: 20px;
	color: white;
	padding: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.skills-container ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
	text-align: center;
}

.skills-container img {
	width: 70%;
	max-width: 150px;
	margin: 10px;
}

form {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: 30px auto;
}

label {
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

input,
textarea {
	padding: 0.5rem;
	font-size: 1rem;
	border-radius: 5px;
	border: none;
	margin-bottom: 1rem;
}

textarea {
	height: 150px;
}

.contact-form button {
	background-color: #fca311;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	padding: 10px;
	transition: background-color 0.2s ease-in-out;
}

.contact-form button:hover {
	background-color: #fcbf49;
}

@media screen and (max-width: 768px) {
	.project {
		flex: 0 1 calc(50% - 10px);
	}
}

@media screen and (max-width: 480px) {
	.project {
		flex: 0 1 100%;
	}
}

@media (max-width: 768px) {
	.about-me {
		flex-direction: column;
	}

	.Pic {
		margin: auto;
	}

	.about-me-info {
		margin-top: 20px;
	}

	.projects-container {
		flex-direction: column;
	}

	.project {
		width: 100%;
		margin-bottom: 20px;
	}
}
