body {
	background-color: #222;
	color: #fff;
}

a {
	color: #fcbf49;
}

.main {
	max-width: 100%;
	/*max-width: 800px;*/
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	flex-wrap: wrap;
	justify-content: center; /* Add this property to center vertically */
}

.main-header {
	text-align: center;
	font-size: 36px;
	margin-top: 10px;
}

.second-header {
	text-align: center;
	font-size: 24px;

	margin-bottom: 25px;
}

.my-resume {
	display: flex;
	justify-content: center;
	padding-top: 6%;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}

.introduction {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	width: 100%;
	background-color: #943328;
}

.introduction-text {
}

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.logo {
}

.logo a {
	text-decoration: none;
}

.logo img {
	width: 70px; /* Set the width of the logos */
	height: auto;
}

.container img {
	max-width: 100%;
	height: auto;
}

.Pic {
	height: 350px;
	width: 350px;
	border-radius: 50%;
	object-fit: cover;
	flex-shrink: 0; /* Prevent the image from shrinking */
	object-position: center top; /* Adjust this value to move the focal point */
}

.about-me {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	gap: 35px;
	margin-bottom: 50px;
	margin-top: 30px;
	max-width: 800px;
}

.about-me-info {
	display: flex;
	flex-direction: column;
}

.about-me-info h4 {
	margin: 0;
	margin-bottom: 10px;
	font-size: 24px;
}

.about-me-info p {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: normal; /* Or use 'bold' for emphasis */
	letter-spacing: 1.5px;
	margin: 0;
	margin-bottom: 30px;
}

.about-me-info a {
	color: #fff;
}

.projects-background {
	background-color: #333; /* Set your desired background color */
	background-color: #943328;
	width: 100%;
	text-align: center;
	padding: 15px;
}

.projects-container {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 800px;
	margin: 0 auto; /* Center the projects horizontally */
	text-align: center;
}

.project {
	margin-bottom: 20px;
	color: white;
	padding: 20px;
	background-color: #333;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
	border-radius: 7px;
}

.project h4 {
	color: #fcbf49;
	margin-bottom: 15px;
}

.project p {
	padding-bottom: 2%;
}

.skills-container ul {
	padding-top: 8%;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
	text-align: center;
	padding-bottom: 10px;
}

.skills-container img {
	width: 70%;
	max-width: 150px;
	margin: 10px;
}

.contact-form {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center; /* Center form horizontally */
	margin-bottom: 20px;
}

form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center; /* Center form items horizontally */
}

label {
	font-size: 1.2rem;
	width: 100%;
	margin: 0;
	padding: 0;
}

input,
textarea {
	/*width: calc(100% - 1rem);*/ /* Adjust the width calculation to accommodate padding */
	width: 100%;
	padding: 0.5rem;
	font-size: 1rem;
	border-radius: 5px;
	border: none;
	margin-bottom: 1rem;
	box-sizing: border-box;
}

textarea {
	height: 150px;
}

.contact-form button {
	background-color: #fca311;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	padding: 10px;
	transition: background-color 0.2s ease-in-out;
	margin: 0 auto;
	width: 100%;
}

.contact-form button:hover {
	background-color: #fcbf49;
}

@media screen and (max-width: 768px) {
	.project {
		flex: 0 1 calc(50% - 10px);
	}
}

@media screen and (max-width: 480px) {
	.project {
		flex: 0 1 100%;
	}
}

@media (max-width: 768px) {
	.about-me {
		flex-direction: column;
	}

	.Pic {
		margin: auto;
	}

	.about-me-info {
		margin-top: 20px;
	}

	.projects-container {
		flex-direction: column;
	}

	.project {
		width: 100%;
		margin-bottom: 20px;
	}
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
