.introduction {
	display: flex;
	justify-content: space-around;
}

.introduction-text {
	display: flex;
	flex-direction: column;
}

.introduction a {
	padding-top: 15px;
}

.container {
	display: flex;
	max-width: 400px;
	justify-content: center;
	align-items: center;
}

.logo img {
	width: 100px; /* Set the width of the logos */
	height: auto;
}

.about-me {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	margin-bottom: 50px;
}

.about-me-info {
	max-width: 600px; /* Set your maximum width */
	margin: auto;
	text-align: center; /* Center the text within the container */
}

.Pic {
	width: 200px; /* Set your image width */
	height: auto;
	border-radius: 50%;
	margin-bottom: 20px;
}
