*{
    margin: 0;
    padding: 0;
}

.Parent{
    display: grid;
    place-items: center;
    background-color: bisque;
}
.Notes{
    background-color: lightgrey;
    
}
table {
    
    border-spacing: 0px;
    table-layout: fixed;
    margin-left:auto;
    margin-right:auto;
}
th {
    color: green;
    border: 1px solid black;
}
td {
    border: 1px solid black;
}



