.Nav {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #d96f4c;
}
.Nav-elements a {
	color: white;
	font-size: 30px;
	text-decoration: none;
}
nav ul li {
	display: inline-block;
	padding: 10px 25px;
}
nav ul li a::after {
	width: 0;
	height: 3px;
	background: #ff004f;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
}
nav ul li a::hover::after {
	width: 100%;
}
